@media screen and (max-width: 1200px) {
  .acc-date__container {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .account-menu {
    width: 300px;
  }
  .header-container {
    padding: 14px 0 13px;
    .logo {
      width: 127px;
      height: 43px;
    }
  }
  .date-picker-wrapper .month-wrapper table {
    width: 100%;
  }
  .acc-date__container {
    width: 100%;
  }
  .date-picker-wrapper .month-wrapper {
    padding: 15px 45px;
  }
  .date-picker-wrapper .month-wrapper table .day {
    margin-bottom: 4px;
  }
  .date-picker-wrapper .month-wrapper table .day, .date-picker-wrapper .month-wrapper table td {
    //line-height: 24px;
  }
  .acc-date-picker {
    position: relative;
    margin-bottom: 30px;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  .date-picker-wrapper .footer {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .date-picker-wrapper .footer {
    width: 100%;
  }
  .download-report {
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 15px);
    .img {
      margin-right: 0;
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 26px;
    }
    button {
      margin-left: 0;
    }
  }
  .account-people {
    padding-top: 13px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > p {
      margin-bottom: 5px;
      margin-top: 11px;
    }
  }
  .header-cart {

    &.not-empty {
      margin-right: 9px;
    }
  }
  .account-content__title {
    margin-bottom: 0;
  }

  .account-address {
    padding-top: 15px;
    padding-bottom: 15px;
    .img {
      margin-right: 18px;
    }
  }
  .account-content {
    border-radius: 0;
    padding: 15px 0 15px 15px;
  }
  .account-food-type>a>p {
    right: 15px;
  }
  .account-food-type {
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .account-title {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .account-container {
    padding: 21px 0 46px;
    flex-direction: column;

  }
  .account-menu {
    width: 100%;
    border-radius: 0;
    padding: 39px 15px 30px;
    min-height: 0;
    position: relative;
  }
  .account-info {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    border-radius: 0;
  }
  .account {
    .container {
      padding: 0;
    }
  }
  .account-link {
    margin-bottom: 0;
    margin-top: 20px;
    &:first-child, &:last-child {
      margin-top: 0;
    }
  }
  .account-logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .img {
      width: 55px;
      height: 55px;
      margin-right: 15px;
      margin-bottom: 0;
    }
    .text {
      p {

      }
    }
  }
  .account-link.logout {
    position: absolute;
    right: 15px;
    width: auto;
    top: 17px;
    a {
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
    svg {
      display: none;
    }
  }
  .account-links {
    margin-top: 30px;
  }
}
@media screen and (max-width: 640px) {
  .user-sign {
    padding: 35px 0 45px;
  }
  .sign-control {
    border-radius: 0;
    width: 100%;
    padding: 30px 15px 45px;
  }
  .sign-tabs {
    width: 100%;
  }
}
