@media screen and (max-width: 1200px) {
  .acc-date__container {
    right: 0;
  }
}

@media screen and (max-width: 1030px) {
  .menu-days {
    width: 100%;
  }
  .day-part__single-day {
    flex-wrap: wrap;

    p {
      width: 100%;
      max-width: none;
      order: 1;
      margin-bottom: 15px;
    }

    .img {
      order: 2;
    }

    .info {
      order: 3;
      width: 60%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 950px) {
  .thanks-container {
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    .top {
      padding: 118px 15px 45px;
      p {
        margin-top: 45px;
      }
    }
  }
  .modal-window__thanks {
    align-items: flex-end;
  }
  .modal-window__thanks .modal-container {
    width: 100%;
    border-radius: 20px 20px 0 0 ;

  }
  .acc-date-picker {
    position: relative;
    margin-bottom: 30px;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 850px) {
  .day-tab__item {
    flex-wrap: wrap;

    .name {
      width: calc(100% - 95px);
      margin-bottom: 15px;
    }

    > p, > span {
      display: inline-block;
      width: calc(100% / 3);
      margin-left: 0;
    }
  }
  .item-btn {
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .account-menu {
    width: 300px;
  }
  .header-container {
    padding: 14px 0 13px;

    .logo {
      width: 127px;
      height: 43px;
    }
  }
  .date-picker-wrapper .month-wrapper table {
    width: 100%;
  }
  .acc-date__container {
    width: 100%;
  }
  .date-picker-wrapper .month-wrapper {
    padding: 15px 45px;
  }
  .date-picker-wrapper .month-wrapper table .day {
    margin-bottom: 4px;
  }
  .date-picker-wrapper .month-wrapper table .day, .date-picker-wrapper .month-wrapper table td {
    //line-height: 24px;
  }
  .acc-date-picker {
    position: relative;
    margin-bottom: 30px;
    top: auto;
    right: auto;
    transform: none;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  .date-picker-wrapper .footer {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .account-order__day-tablet {
    width: calc(100% + 15px);
    margin-left: -15px;
    margin-right: 0;
    margin-bottom: 35px;
  }
  .date-picker-wrapper .footer {
    width: 100%;
  }
  .day-part__single-day {
    margin-right: 20px;
    padding-right: 15px;
    box-sizing: border-box;

    .info {
      flex-grow: 1;
      width: auto;
    }
  }
  .download-report {
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 15px);

    .img {
      margin-right: 0;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 26px;
    }

    button {
      margin-left: 0;
    }
  }
  .account-people {
    padding-top: 13px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > p {
      margin-bottom: 5px;
      margin-top: 11px;
    }
  }
  .header-cart {

    &.not-empty {
      margin-right: 9px;
    }
  }
  .account-content__title {
    margin-bottom: 0;
  }

  .account-address {
    padding-top: 15px;
    padding-bottom: 15px;

    .img {
      margin-right: 18px;
    }
  }
  .account-content {
    border-radius: 0;
    padding: 15px 0 15px 15px;
  }
  .account-food-type > a > p {
    right: 15px;
  }
  .account-food-type {
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .account-title {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .account-container {
    padding: 21px 0 46px;
    flex-direction: column;

  }
  .account-menu {
    width: 100%;
    border-radius: 0;
    padding: 39px 15px 30px;
    min-height: 0;
    position: relative;
  }
  .account-info {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    border-radius: 0;
  }
  .account {
    .container {
      padding: 0;
    }
  }
  .account-link {
    margin-bottom: 0;
    margin-top: 20px;

    &:first-child, &:last-child {
      margin-top: 0;
    }
  }
  .account-logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .img {
      width: 55px;
      height: 55px;
      margin-right: 15px;
      margin-bottom: 0;
    }

    .text {
      p {

      }
    }
  }
  .account-link.logout {
    position: absolute;
    right: 15px;
    width: auto;
    top: 17px;

    a {
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }

    svg {
      display: none;
    }
  }
  .account-links {
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px) {
  .modal-window__cart {
    .modal-container {
      width: 100%;
      padding: 30px 15px;
      border-radius: 20px 20px 0 0;
      height: calc(100vh - 128px);
      margin-top: 128px;

      .menu-days {
        width: calc(100% + 30px);
      }
    }
  }
  .cart-footer {
    p {
      margin-bottom: 15px;
    }
    .btn {
      width: 100%;
    }
  }
  .cart-day__item {
    flex-wrap: wrap;
    align-items: stretch;

    > p {
      order: 1;
      max-width: none;
      width: calc(100% - 60px);
      margin-bottom: 15px;
    }

    .rem-item {
      order: 2;
      margin-left: 20px;
    }

    .img {
      order: 3;
    }

    > span {
      order: 5;
      margin-left: auto;
      align-items: center;
      display: flex;
    }

    .quantity {
      order: 4;
      margin-left: 0;
      margin-right: 20px;
    }
  }
  .cart-content {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: 15px;
    padding: 30px 15px 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 640px) {
  .modal-container {
    padding: 40px 5px;
  }
  .menu-days {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }
  .btn-slid {

  }
  .day-tab {
    width: calc(100% + 30px);
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px 0 30px 15px;
  }
  .item-btn {
    margin-left: 0;
    margin-top: 30px;

    div {
      width: 155px;

      span {
        flex-grow: 1;

        &::before {
          margin-right: 25px;
        }
      }
    }
  }
  .day-tab__head {
    width: calc(100% + 15px);
    margin-left: -15px;
    margin-right: 0;
  }
  .menu__head {
    flex-direction: column;
    align-items: flex-start;

    .account-title {
      padding: 0;
      margin-bottom: 5px;
    }
  }

  .day-tab__menu:last-child {
    .day-tab__item:last-child {
      padding-bottom: 0;
    }
  }

  .single-type {
    width: calc((100% / 3) - 10px);
  }
  .week-control__container .btn {
    width: calc(50% - 10px);
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  .week-control__container {
    padding: 20px 0;
  }
  .btn-slid {
    width: 40px;
  }
  .menu-day {
    padding: 0 0 17px;
  }
  .menu-days {
    padding-left: 40px;
    padding-right: 40px;
  }
  .day-tab__item {
    position: relative;
    align-items: stretch;
    padding-right: 15px;
    box-sizing: border-box;

    > span {
      width: 100%;
      padding-left: 95px;
      margin-top: 15px;
    }

    > p {
      width: 95px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .name {
      margin-bottom: 0;

      p {
        width: calc(100% + 95px);
        margin-left: -95px;
        margin-bottom: 15px;
      }
    }

    .img {
      margin-top: 39px;

    }
  }
  .user-sign {
    padding: 35px 0 45px;
  }
  .sign-control {
    border-radius: 0;
    width: 100%;
    padding: 30px 15px 45px;
  }
  .sign-tabs {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .modal-window__cart .modal-container {
    margin-top: 50px;
    height: calc(100vh - 50px);
  }
  .single-type {
    width: calc((100% / 3) - (10px / 3));
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
  .week-control__container {
    flex-direction: column;

    .btn {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .day-tab__item .name p {
    font-size: 14px;
    line-height: 20px;
  }
}
