@import "fonts";


$main-font: 'Gotham Pro', sans-serif !important;
$second-font: 'Gotham Pro', sans-serif;
$size: 14px;
$black: #444444;
$gradient: linear-gradient(260.09deg, #008CB9 7.44%, #96BF53 91.11%);
$white: #ffffff;
$blue: #088DB8;
$red: #ffcba5;
$grey: #696969;
$grey-light: #818181;

$black: #242424;

$main-green: linear-gradient(90deg, #CCD500 0%, #D7FA00 100%);
$green: #667820;

$light-c7: #c7c7c7;

body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  //background: $black;
  //scroll-behavior: smooth;
  background: #F7F7FB;
}

* {
  letter-spacing: 0;
  font-family: $main-font;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}


.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}


.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}

.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;
}

body::-webkit-scrollbar {
  display: none;
}

p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  position: sticky;
  top: 0;
  background: $white;

}

.header-container {
  width: 100%;
  padding: 19px 0 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo {
  width: 157px;
  height: 53px;
  a {

  }
  img {
    width: 100%;
    height: 100%;
  }
}
.footer {
  width: 100%;
  background: #2A2A34;
}

.copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-container {
  width: 100%;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rules {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $white;
}

.user-sign {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 66px;
  box-sizing: border-box;
}

.sign-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .img {
    width: 157px;
    height: 53px;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.sign-control {
  background: $white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 45px 60px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  > p {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: $black;
  }
}

.sign-tabs {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
}

.sign-tabs__tabs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 26px;
}

.single-sign-tab {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: color 0.3s ease, border-bottom 0.3s ease;
  margin-right: 35px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transition: color 0.3s ease, border-bottom 0.3s ease;
    color: #667820;
  }

  &.active {
    border-bottom: 2px solid #667820;
    color: #667820;
    font-weight: 500;
  }
}

.sign-tabs__content {
  width: 100%;
}

.sign-tabs__item {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &.active {
    display: flex;
  }
}

.form {
  width: 100%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #444444;
      margin-top: -10px;
      margin-bottom: 15px;

    }

    a {
      text-decoration: none;
      color: #667820;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      margin-top: 15px;
    }

    input {
      width: 100% !important;
      padding: 4px 15px !important;
      box-sizing: border-box !important;
      margin-bottom: 15px;

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #8C8C8C;
      border: 1px solid #D7DBEB;
      border-radius: 4px;
      height: 44px;
      transition: border 0.3s ease;
      outline: none;

      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #8C8C8C;
      }

      &:hover {
        transition: border 0.3s ease;
        border: 1px solid #8C8C8C;
      }

      &:focus {
        transition: border 0.3s ease;
        border: 2px solid #667820;
      }

      &:disabled {
        background: #EBEEE1;
        cursor: not-allowed;
      }

    }
  }
}

.btn {
  width: 100%;
  height: 44px;
  border: 1px solid $green;
  border-radius: 4px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* primary */

  color: $green;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;

  &--green {

    background: $green;
    color: $white;

    &:hover {
      background: $white;
      color: $green;
    }

    &:active {
      background: $green;
      color: $white;
    }

    &:disabled {
      background: #EBEEE1;
      color: $white;

      border: 1px solid #EBEEE1;
    }
  }

  &:hover {
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  }

  &:active {
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.form-select {
  width: 100%;
}

.selectize-input {
  height: 44px;
  padding: 0;
  width: 100%;
  transition: border 0.3s ease;

  input {
    width: 100%;
    height: 100% !important;
  }

  &:hover {
    transition: border 0.3s ease;
    border: 1px solid #8C8C8C;
  }

  &.focus {
    box-shadow: none !important;
    transition: border 0.3s ease;
    border: 2px solid #667820;
  }

  &:disabled {
    background: #EBEEE1;
    cursor: not-allowed;
  }
}

.selectize-dropdown {
  border: 1px solid $green;

  &-content {
    padding: 0;
  }

  .option {
    height: 44px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      background: #EBEEE1;
    }
  }
}

.selectize-control.form-select {
  height: 44px;
  margin-bottom: 15px;
}

.selectize-input > .item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 15px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8C8C8C;
  box-sizing: border-box;
}

.selectize-control.single .selectize-input:after {
  width: 14px;
  height: 14px;
  right: 10px;
  border: none;
  background: url("../img/arr-btm.svg") no-repeat center;
  background-size: 100%;
  margin: 0;
  transform: translate(0, -50%);
}

.selectize-control.single .selectize-input.dropdown-active:after {
  margin: 0;
  border: none;
  transform: translate(0, -50%) rotate(-180deg);
}

.header-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & > * {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke: #444444;
      transition: stroke 0.3s ease;
    }
  }

  a:hover {
    svg {
      path {
        transition: stroke 0.3s ease;
        stroke: $green;
      }
    }
  }
}

.header-acc {
  width: 24px;
  height: 24px;
}

.header-cart {
  width: 24px;
  height: 24px;
  position: relative;

  span {
    position: absolute;
    top: 0;
    right: 0;
    background: #444444;
    transition: background-color 0.3s ease;
    color: $white;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    width: 16px;
    height: 16px;

    align-items: center;
    justify-content: center;
    transform: translate(50%, -90%);
    display: none;
  }

  &:hover {
    span {
      background: $green;
      transition: background-color 0.3s ease;
    }
  }

  &.active {
    span {
      background: $green;
    }

    svg {
      path {
        stroke: $green;
      }
    }
  }
  &.not-empty {
    span {
      display: flex;
    }
  }
}

.account {
  width: 100%;
}

.account-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 65px 0 147px;
  box-sizing: border-box;
}

.account-menu {
  background: $white;
  border-radius: 20px;
  width: 370px;
  box-sizing: border-box;
  padding: 45px 30px 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 562px;
}

.account-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .img {
    width: 150px;
    height: 150px;
    background: #F9FAFF;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 5px;

  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
  }
}

.account-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 35px;
}
.account-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 15px;
      path {
        stroke: #8C8C8C;
        transition: stroke 0.3s ease;
      }
    }
    p {

      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #444444;
      transition: color 0.3s ease;
    }
  }
  &:hover, &.active {
    a {
      svg {
        path {
          stroke: $green;
          transition: stroke 0.3s ease;
        }
      }
      p {
        font-weight: 500;
        color: $green;
        transition: color 0.3s ease;
      }
    }
  }
}
.account-info {
  flex-grow: 1;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.acc-date-picker {
  position: absolute;
  right: 0;
  top: 0;
  width: 270px;
  height: 44px;

  border: 1px solid #D7DBEB;
  border-radius: 4px;
  //overflow: hidden;

  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    background: url("../img/date-calen.svg") no-repeat center;
    background-size: 100%;
    display: inline-block;
    content: '';
    pointer-events: none;
  }
  &:hover, &:focus, &:active {
    border: 1px solid #8C8C8C;
  }
  input {
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    margin: 0;
    padding: 4px 15px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #444444;

    outline: none;

  }

}

.date-picker-wrapper {
  position: relative;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;
  &::before {
    border: 6px solid white;
    position: absolute;
    top: 0;
    right: 40px;
    transform: translate(0, -50%) rotate(45deg);
    display: inline-block;
    content: '';
  }
  border: none;
  padding: 0 !important;
  background: none;
  margin-top: 9px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  .month-name {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 26px !important;
    color: #444444 !important;
    text-transform: uppercase;
  }
  .first-date-selected, .last-date-selected {
    background: #667820 !important;
    border-radius: 4px !important;
  }
}
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background: #F8FAF1;
}
.date-picker-wrapper .month-wrapper table th {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  color: #8C8C8C;
  text-transform: capitalize;
  width: 35px;
}
.acc-date__container {
  position: absolute;
  top: 100%;
  right: -45px;

}
.date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table .day {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #444444;
  padding: 0;
}
.date-picker-wrapper.single-month .time {
  display: none;
}
.date-picker-wrapper .month-wrapper table .day {
  margin-bottom: 12px;
  //width: 35px;
}
.date-picker-wrapper .month-wrapper table .day.checked {
  background: #F8FAF1;
}
.date-picker-wrapper .month-wrapper table tr {
  td {
    &:first-child{
      .day {
        border-radius: 4px 0 0 4px;
      }
    }
    &:last-child{
      .day {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
.date-picker-wrapper .month-wrapper table .day.real-today {
  border-radius: 4px !important;
  background: #0083FF !important;
  color: $white !important;
}

.date-picker-wrapper .month-wrapper table {
  width: 270px;
}
.date-picker-wrapper table .caption>th:first-of-type, .date-picker-wrapper table .caption>th:last-of-type {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev{
  color: rgba(255, 255, 255, 0) !important;
  padding: 4px !important;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  &::after {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    background: url("../img/arr-prev.svg") no-repeat center;
    background-size: 100%;
  }
}
.date-picker-wrapper table .caption .next {
  &::after {
    transform: rotate(180deg);
  }
}

.date-picker-wrapper .month-wrapper {
  border: none;
  padding: 30px 45px 45px;

}
.date-picker-wrapper .footer {
  display: none;
}
.account-title {
  width: 100%;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #444444;
}
.account-content {
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.account-food-type {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #D7DBEB;
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
  > a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-decoration: none;
    .img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      p {
        margin-bottom: 1px;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #444444;
        transition: color 0.3s ease;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #8C8C8C;
        transition: color 0.3s ease;
      }
    }
    &:hover {
      .text {
        p {
          color: $green;
          transition: color 0.3s ease;
        }
        span {
          color: $green;
          transition: color 0.3s ease;
        }
      }
      > p {
        text-decoration: underline;
      }
    }
    > p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: $green;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &::after {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        display: inline-block;
        content: '';
        background: url("../img/arr-right.svg") no-repeat center;
        background-size: 100%;
      }
    }
  }
  &.disabled {
    opacity: 0.25;
    a {
      pointer-events: none;
    }
  }
}

.account-content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 11px;
}

.account-address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D7DBEB;
  .img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
    img {
      width: 100%;
      height: 100%;

    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.account-people {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D7DBEB;
  text-decoration: none;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .img {
      width: 32px;
      height: 32px;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #444444;
    }
  }
  > p, > span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
  }
}

.download-report {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #F9FAFF;
  border-radius: 4px;
  padding: 68px 30px;
  box-sizing: border-box;
  .img {
    width: 29px;
    height: 32px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
  button {
    width: 110px;
    margin-left: auto;
  }
}

@import "media"; // Always at the end